{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <title>Todo-homepage</title>

  <style>
    .striped{
      width:75%;
      margin-left:30px;
    }
    button{
      padding:5px;
    }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'todo' %}">todo</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'attendance' %}">Attendance</a></li>
    </ul>
  
    {% if user.is_authenticated %}
    <ul>
      <li>
          <form method="post" action="{% url 'logout' %}" style="display: flex; align-items: center; gap: 20px;">
          {% csrf_token %}
              <div style="padding-bottom:16px;">{{ user.username }}</div>
              <button type="submit">Logout</button>
          </form>
      </li>
    </ul>
    {% else %}
    <ul>
      <a href="{% url 'register' %}"><li><button>sign up</button></li></a>
      <a href="{% url 'login' %}"><li><button>Login</button></li></a>
    </ul>
    {% endif %}
  </nav>

  {% block content %}{% endblock %}
  {% block import %}{% endblock %}
  {% block attendance %}{% endblock %}
  {% block todo_table %}{% endblock %}
</body>
</html>